@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@*<h1>@ViewData["Title"]</h1>*@
<div class="row mt-5 justify-content-center">

    @*<div class="col-md-3 align-self-center mb-5">
        <img src="~/images/FITNASS-Logo-Label.png" class="mx-auto d-block" alt=""/>
    </div>*@

    <div class="col-md-3 card shadow" style="background-color:snow">
        <section>
            <form id="account" method="post" class="card-body">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Log in</button>
                </div>

                <div class="btn-group btn-block" role="group" aria-label="Button Group">
                    <a class="btn btn-outline-info btn-sm" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>

                    <a class="btn btn-outline-info btn-sm" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>

                    @*<a class="btn btn-outline-info btn-sm" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>*@
                </div>
            </form>
        </section>
    </div>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
